#umd-edit-meta-key {
	font-size: 50%;
	width: 75%;
	}

#umd-edit-meta-value {
	font-size: 100%;
	width: 100%
	}

#umd-add-user-meta {
	display: none;
	}
.umd-edit-meta-value-title {
	text-align: left;
	color: #222222;
	font-size: 150%;
	margin-bottom: 10px;
	}
#umd-add-user-meta:before {
	font-family: "dashicons";
	content: "\f132";
	padding-right: 5px;
	vertical-align: middle;
	}

.umd-modal-title {
	color: #FFFFFF;
	font-size: 200%;
	margin-bottom: 10px;
	line-height: normal;
	}
.umd-modal-notice {
	color: #ff0000;
	font-size: 200%;
	margin-bottom: 10px;
	line-height: normal;
	}

.umd-modal-notice-error {
	color: #ff0000;
	}

.umd-modal-notice-info {
	color: #ffffff;
	}

.umd-modal-notice-error:before {
	font-family: "dashicons";
	content: "\f158";
	padding-right: 5px;
	font-size: 300%;
	vertical-align: middle;
	}
.umd-modal-notice-info:before {
	font-family: "dashicons";
	content: "\f348";
	padding-right: 5px;
	font-size: 300%;
	vertical-align: middle;
	}

.umd-modal-meta-key {
	font-size: 175%;
	color: #ff0000;
	margin: 30px 0;
	}
.umd-modal-buttons {
	margin: 10px;
	}

.umd-modal-buttons > .button {
	font-size: 120%;
	text-align: center;
	width: 40%;
	}

.umd-modal-meta-value-wrap {
	margin: 25px;
	}

.umd-modal-meta-value {
	background-color: #ccc;
	border-radius: 5px;
	padding: 10px;
	word-break: break-all;
	word-wrap: break-word;
	}

.umd-modal-close-corner {
	position: absolute;
	right: 5%;
	top: 5%;
	cursor: pointer;
	}

.umd-control-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 99999;
	display: none;
	}
.umd-control-container > .umd-backdrop {
	background: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	}
.umd-control-container > .umd-backdrop > .umd-modal {
	position:absolute;
	left: 30%;
	right:30%;
	top: 25%;
	bottom:25%;
	text-align: center;
	}
#umd-refresh-meta-button:before {
	font-family: "dashicons";
	content: "\f463";
	padding-right: 5px;
	vertical-align: middle;
	}
#umd-refresh-dropdown-button:before {
	font-family: "dashicons";
	content: "\f463";
	padding-right: 5px;
	vertical-align: middle;
	}

.umd-remove-button:before {
	font-family: "dashicons";
	content: "\f153";
	padding-right: 5px;
	}
.umd-edit-button:before {
	font-family: "dashicons";
	content: "\f464";
	padding-right: 5px;
	margin-left: 5px;
	vertical-align: middle;
	}

.umd-remove-button, .umd-edit-button {
	position: relative;
	margin: 2px;
	padding: 2px;
	}

.umd-meta-table > .umd-meta-table-body > tr:hover {
	background-color: #ccc;
	}

#user-meta-output-box {
  position: relative;
}

.user-meta-display-user-dropdown {
	float: left;
	margin-right: 5px;
	}

#umd_refresh_dropdown {

	}

#umd-refresh-meta-button {
	margin-bottom: 15px;
	}
#user-meta-output-box table {
  text-align: left;
}
#user-meta-output-box table .key-column {

}
#user-meta-output-box table .value-column {
	display: inline-block;
	width: 100%;
	word-break: break-all;
}
#user-meta-output-box table td {
  padding: 3px;
}
#user-meta-output-box table th {
  padding: 1px;
}
#user-meta-output-box code {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.user-meta-display-settings-config-content {
	width: auto !important;
}
.user-meta-display-settings-config-content .user-meta-display_settings_label {
	font-size: 20px;
	margin-bottom: 5px;
}
.user-meta-display-settings-config-content label[for=field_user_list_0]{
	margin-right: 20px;
	margin-top: 5px;
}
.user-meta-display-settings-config-content label[for=field_user_meta_output_0]{
	border-bottom: 1px solid #eee;
	width: 100%;
}
.wrap .submit {
	display: none;
}

.umd-metakey-buttons {
	position: absolute;
	margin-left: -175px;
	margin-top: -5px;
	opacity: 0;
	}

.umd-metakey-buttons a {
	padding: 0 9px 1px;
	}